<a href="https://colab.research.google.com/github/MeghanGH/google-colaboratory-practical-statistics-for-data-scientists/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

Seiries

In [7]:
labels = ['a', 'b', 'c',]
value = [10,20,30]
arr = np.array(value)

In [4]:
pd.Series(data = value)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data=value, index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
# dict
d = {'a': 1, 'b':2, 'c':3}
pd.Series(d)

a    1
b    2
c    3
dtype: int64

In [12]:
s1 = pd.Series([1,2,3,4], ['apple','banana','cantaloupe','durian'])
s1

apple         1
banana        2
cantaloupe    3
durian        4
dtype: int64